body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

#main {
    width: 80%;
    margin: 30px auto;
}

#banner {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    border-radius: 20px;
    color: white;

}

.details_sec {
    margin-left: 100px;
    width: 70%;
}


.details_sec_header {
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 20px;
    margin-top: -10px;
}

.details_sec_para {
    margin-bottom: 38px;
}

.details_sec_link {
    text-decoration: none;
    color: white;
    margin-bottom: 60px;
    background-color: red;
    border-radius: 5px;
    padding: 10px 20px;
}

.details_sec_link span {
    font-size: 12px;
    margin-left: 2px;
}

.banner_img img {
    width: 80%;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
}

/* Blog Section Starts */
#blog_sec {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 25% 75%;
}

#blog_navigation {
    background-color: black;
    border-radius: 10px;
    padding: auto 20px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 15px;
    margin-right: 15px;
}

.blog_nav {
    background-color: white;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.blog_nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.blog_nav:hover {
    background-color: red;

}

.blog_nav:hover a {
    color: white;
}

.active {
    background-color: red;
}

.active a {
    color: white;

}

/* Blog News Section Starts */

#blog_news {
    display: grid;
    /* justify-content: center; */
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;

}

.blog_news_1,
.blog_news_2,
.blog_news_3,
.blog_news_4,
.blog_news_5,
.blog_news_6 {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.blog_news_img img {
    width: 100%;
    margin-bottom: 15px;
}

.blog_news_details {
    margin-left: 10px;
}

.blog_news_tag {
    padding: 5px 25px;
    border: 1px solid black;
    border-radius: 5px;

}

.blog_news_icn {
    padding-bottom: 17px;
    display: flex;
    align-items: center;
}

.blog_news_icn span {
    margin-left: 3px;

}

.blog_news_icn_chat {
    margin-left: 20px;

}

#footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
}

.footer_top {
    border-bottom: 1px solid gray;
    width: 80%;
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
}

.footer_bottom {
    padding: 50px 0;
}

.footer_bottom .footer_nav_primary {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
}

.footer_bottom .footer_nav_primary li {
    margin-left: 25px;
}

.footer_nav_secondary {
    padding-top: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.footer_nav_secondary li a {
    text-decoration: none;
    color: white;

}